<div class="about-main">
  <h2>TRUSTとは</h2>
    <p>あなたのTRUST(周囲からの信頼)を可視化します。</p>
    <p>友人とお互いのTRUSTを投稿しコミュニケーションすることで、企業や個人との新しい出会いを生みます。</p>
    <p>あなたのTRUSTを見た共通の友人がいる経営者や採用担当から「会いたい」オファーをもらい、気軽に話を聞きに行くことができます。</p>
    <p>必ずしも今すぐに転職しないといけないものではありません。気軽に話を聞いてみましょう！</p>
  <img class="about-img" src="/tweets.png">
</div>
