<div class="about-main">
  <h2>TRUSTとは</h2>
    <p>SNSで仕事を探すサービスです。</p>
    <p>友人とお互いのリファレンスを投稿し、コミュニケーションすることで、企業や個人との新しい出会いを生みます </p>
    <p>気軽に共通の友人がいる経営者や採用担当、他社の社員と会い、話を聞くことができます</p?
  <img class="about-img" src="/tweets.png">
</div>
