<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">
      <script type="text/javascript">
        var a=["岩崎さんは何が得意な人ですか？","岩崎さんはどういう性格ですか？","岩崎さんとはいつどこでどうして出会いましたか？","岩崎さんのどこを尊敬していますか？"];
        var x;
        x=Math.floor(Math.random()*4); 
        document.write(a[x]);
      </script>
    </h1>
    <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-body">
        <textarea name="content"></textarea>
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>
  </div>
</div>
