<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">
      <script type="text/javascript">
        var name = "岩崎";
        var a=[name +"さんの強みを教えてください！",
               name + "さんの性格を教えてください！",
               name + "さんとの関係を教えてください！",
               name + "さんの尊敬しているところを教えてください！",
               name + "さんの好きなところを教えてください！",
               name + "さんの弱みを強いてあげるなら？",
               name + "さんが今までやってきたことを教えてください！"];
        var x;
        x=Math.floor(Math.random()*7); 
        document.write(a[x]);
      </script>
    </h1>
    <%= form_tag("/posts/create") do %>
    <div class="form">
      <div class="form-body">
        <textarea name="content"></textarea>
        <input type="submit" value="投稿">
      </div>
    </div>
    <% end %>
  </div>
</div>
